$color-primary: #FA4949;
$color-static-white: #FFFFFF;
$color-tag-purple: #495EFA;
$color-tag-green:#06A44F;
$color-tag-pink:#FF43F7;

$color-content-background: #ECF3F8;
$color-overlay: #1C1F29;
$color-dark: #181C28;
$color-static-white40: #7F7F7F;
$color-static-white20: #555555;
$color-nav-hover-bacg: #FEEDED;

$content-width: 1276px;
$tablet-width: 768px;
$phone-width: 380px;
$max-width: 1440px;
$header-height: 64px;


